@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Helvetica"),
    url("Monotype-HelveticaNowDisplay.otf") format("opentype");
}
